<iframe src="/iframe_content/pic1" class="photo" scrolling="no" frameborder="0"></iframe>

<iframe src="/iframe_content/small" class="column" scrolling="no" frameborder="0"></iframe>
<iframe src="/iframe_content/small" class="column" scrolling="no" frameborder="0"></iframe>
<iframe src="/iframe_content/small" class="column" scrolling="no" frameborder="0"></iframe>
<iframe src="/iframe_content/small" class="column" scrolling="no" frameborder="0"></iframe>

<div class="clear">&nbsp;</div>

<iframe src="/iframe_content/medium" class="column" scrolling="no" frameborder="0"></iframe>
<iframe src="/iframe_content/medium" class="column" scrolling="no" frameborder="0"></iframe>
<iframe src="/iframe_content/medium" class="column" scrolling="no" frameborder="0"></iframe>
<iframe src="/iframe_content/medium" id="test-case" class="column" scrolling="no" frameborder="0"></iframe>
