<div style="clear:both">
  <div>
    <div class="p">
      Callback Testing, check the console for debug messages
    </div>
  </div>
  <div>
    <iframe
      src="/iframe_content/xsmall"
      class="column"
      scrolling="no"
      frameborder="0"
      id="xsmall-iframe"
      style="height: 1000px"
    ></iframe>

    <iframe src="/iframe_content/small" class="column" scrolling="no" frameborder="0" id="small-iframe"></iframe>

    <iframe src="/iframe_content/medium" class="column" scrolling="no" frameborder="0" id="medium-iframe"></iframe>
  </div>
  <div style="clear:both; line-height: 0px; font-size: 0px">
    &nbsp;
  </div>
  <div>
    Clear iframe 2 (small-iframe) and then <a href="javascript: void(0)" id="resize-clicker">resize</a> it.
  </div>
</div>
