<div style="clear:both">
  <div style="float: left; width: 280px">
    <div class="p">
      This content is inside the container page. The iframe is to the right with a minHeight larger than the content.
    </div>
    <% (1..3).each do |n| %>
      <div class="p">
        The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.
        The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.        
      </div>
    <% end %>    
  </div>
  <div style="float: left">
    <iframe src="/iframe_content/xsmall" class="column" scrolling="no" frameborder="0"></iframe>
  </div>
  <div style="clear:both; line-height: 0px; font-size: 0px">
    &nbsp;
  </div>
</div>
