<%= header("large content") %>
<p>
  Link to: <%= link_to "Small", :action => "small" %> | <%= link_to "Medium", :action => "medium" %>
</p>
<% (1..6).each do |n| %>
  <%= render :partial => "shared/paragraph" %>
<% end %>