<!DOCTYPE html>
<html>
  <head>
    <title>jQuery - iFrame Auto Height Plugin</title>
    <%= stylesheet_link_tag "iframe_content" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="container">      
      <%= yield %>
    </div>
  </body>
</html>
